#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%; /* 新增：寬度和標頭一致 */
  margin: 0 auto;  /* 新增：置中 */
}

.card {
  /* 100/13 大約7% */
  /* flex-basis可以控制 item 在容器裡佔的寬度
  flex-grow設定好 flex-basis 以後，還會剩下一些空隙，這時候可以用 flex-grow 來設定如何分配剩餘空間。 在這裡我們設定 0，意思是不要分配剩餘空間。1=平分 2=中間占用的空間會是右邊的兩倍
  flex-shrink 空間不足如何收縮
  basis grow shrink的簡寫 */
  flex: 7% 1 1;
  /* 視窗大小的 8% */
  height: 8vw;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
  box-sizing: border-box;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url(https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png);
  /* 背景元素太大 用cover才能完整出現 */
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#header .title img {
  max-width: 3em;
}
#header .title h2 {
  padding-left: 0.5em;
}
#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}